@media  all and (max-width: 1000px) {
    .header-container {
        left: 22%;
    }

    .top-wrapper h1 {
        font-size: 32px;
    }

    .lesson {
        width: 50%;
        margin-bottom: 50px;
    }

    .heading {
        font-size: 20px;
    }

    footer {
        text-align: center;
    }
    
}

@media  all and (max-width: 670px) {
    .header-container {
        margin: 0 10px;
        width: auto;
        left: 0;
    }
    
    .lessons {
        display: block;
    }

    .lesson {
        width: 100%;
    }

    .top-wrapper {
        text-align: left;
    }

    .header-right {
        display: none;
    }
      
    .menu-icon {
        display: block;
    }

    .top-wrapper h1 {
        font-size: 24px;
    }

    .top-wrapper p {
        font-size: 14px;
    }

    .btn {
        width: 100%;
    }
    
    .facebook {
        margin-bottom: 10px;
    }

    .lesson-wrapper h2 {
        font-size: 20px;
    }

    .faq-wrapper {
        padding: 50px 0 50px;
    }
    
    #faq-list {
         width: auto;
    }
    
    .faq-list-item h3 {
        padding-right: 25px;
    }
    
    .faq-list-item span {
        font-size: 16px;
    }

    .footer {
        position: absolute;
        bottom: 0;
    }
}